// Remember that block mixins should be prefixed with "+" (e.g. "+m-breakpoints()")
// http://stylus-lang.com/docs/mixins.html#block-mixins
m-breakpoint($value)
    @media screen and (min-width: $breakpoints[$value])
        {block}
