m-font-size($size-value = $base-font-size, $line-value = $size-value * 1.5)
    font-size: unit($size-value, px)
    line-height: unit($line-value, px)
    font-size: unit($size-value / $base-font-size, rem)
    line-height: unit($line-value / $base-font-size, rem)
