// $text-decoration = true          -> Always shows underline.
// $text-decoration = false         -> Never shows underline.
// $text-decoration = "false/true"  -> Only shows underline on :hover. This is the DEFAULT behaviour.
// $text-decoration = "true/false"  -> Only shows underline when NOT on :hover.
m-link($link-color, $link-hover-color, $text-decoration = "false/true")
    color: $link-color
    if $text-decoration is "true/false" or $text-decoration is true
        text-decoration: underline
    if $text-decoration is "false/true" or $text-decoration is false    
        text-decoration: none
    &:active,
    &:focus,
    &:visited,
    &:link
        color: $link-color
    &:hover
        color: $link-hover-color
        if $text-decoration is "false/true" or $text-decoration is true
            text-decoration: underline
        if $text-decoration is "true/false" or $text-decoration is false
            text-decoration: none
